.balls-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.balls-container {
  width: 100vw;
  height: 100vh;
  background: #0b0e18;
  position: relative;
  overflow: hidden;
}

.ball {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(135deg, #7dd3fc, #a78bfa);
}

.structure {
  position: absolute;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid transparent; // 👈 ouverture
  pointer-events: none;
}
