.balls-page {
  min-height: 100vh;
  background: #111827;
  display: flex;
  flex-direction: column;
}

.canvas-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 👉 remplace canvas par le faux canvas DOM */
canvas {
  border: 1px solid black;
  position: relative;
  background: #111827;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(125, 211, 252, 0.3);
}

/* 👉 style des balles */
.ball {
  position: absolute;
  border-radius: 50%;
  background: #7dd3fc;
  box-shadow: 0 0 8px rgba(125, 211, 252, 0.8);

  background: radial-gradient(circle, #e0f2fe, #7dd3fc);
}
