.home {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.home-grid {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.grid-cell {
  position: relative;
  border: 2px solid white;
  aspect-ratio: 1 / 1;
  background-size: 200% 200%;
  animation: gradientMove 13s ease infinite;

  .black-ball {
    position: absolute;
    height: 30px;
    width: 30px;
    background: rgb(255, 255, 255);
    border-radius: 300px;
    z-index: 3000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.layer {
  transition: opacity 13s ease;
}

.layer.front {
  z-index: 1;
}

.layer.back {
  z-index: 0;
}

.layer[data-show="true"] {
  opacity: 1;
}

.layer[data-show="false"] {
  opacity: 0;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.home > *:not(.home-grid) {
  position: relative;
  z-index: 2;
}
